/* Add CSS styling here */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


/*font-family: 'Noto Sans KR', sans-serif;*/

*{
    background-color: rgb(233, 233, 233);
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

//////////

body{
    display: flex;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    height: 8rem; 
    /* border: 2px solid teal; */
}
.name {
    display: flex;
    justify-content: flex-start;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
    padding: 20px;
    font-size: 1.75rem;
    flex-grow: 2;
    letter-spacing: 2px;
    color: #777;
}
.links{
    border: 2px solid #777;
    height: 4rem;
    border-radius: 10px;
    display: flex;
    flex-grow: 3;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
}
.navItems{
   color: #777;
   /* border: 2px solid teal; */
   /* background-color: teal; */
   height: 4rem;
   display: flex;
   align-items: center;
   padding: 0 5%;
   transition: .4s;
}

.links a:hover{
    background-color: rgb(211, 211, 211);
}

.links .active-btn:hover{
    background-color: darkred;
    color: white;
}

.active-btn{
    background-color: darkred;
    color: white;
}

a {
    /* display: flex;
    justify-content: flex-end; */
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
    color: #777;
    letter-spacing: 1.25px;
    font-size: 1.1rem;
    /* margin-right: 80px; */
}

.focus{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    width:80%;
    height: 25rem;
    margin-top: 3rem;
    /* padding:10px 0px 0 20%; */
    box-sizing:border-box;  
    background: url(https://images.unsplash.com/photo-1547783877-6b45fe0bdfe4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size:130% 100%;
    /* object-fit: contain; */
    background-position:center;  
    border-radius: 10px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
    padding: 20px;
    font-size: 2.2rem;
    color: #777;
    text-shadow:1px 1px lightgoldenrodyellow;
    text-align: center;
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
    /* padding-top: 76px; */
}

.btn{
    width: 9rem;
    height: 3rem;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background-color: white;
    color: darkred;
    justify-content: center;
    transition: .4s;
}
.btn:hover{
    background-color: rgb(233, 211, 211);
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto
    width: 90%;
    height: 600px;
    /* border: 3px solid pink; */
}

.boxWrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 36px;
    justify-content: center;
    /* border: 3px solid pink; */
    height: 280px;
    margin: 0 30px;
    box-sizing: border-box;
}
p{
    text-align: center;
    margin-top: 6px;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.box1{ 
    display: flex;
    box-sizing:border-box;  
    background: url(https://images.unsplash.com/photo-1602171304685-5d57ce535827?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80);
    background-size:130% 100%;
    background-position:center;
    height: 250px;
    width: 250px;
    border-radius: 4px;
    box-sizing:border-box;  
    background-size:130% 100%;
    background-position:center;
}
.box2{ 
    display: flex;
    box-sizing:border-box;  
    background: url(https://images.unsplash.com/photo-1586996292898-71f4036c4e07?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size:130% 100%;
    background-position:center;
    height: 250px;
    width: 250px;
    border-radius: 4px;
    box-sizing:border-box;  
    background-size:130% 100%;
    background-position:center;
}
.box3{ 
    display: flex;
    box-sizing:border-box;  
    background: url(https://images.unsplash.com/photo-1594585204046-fc9db8892c28?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80);
    background-size:130% 100%;
    background-position:center;
    height: 250px;
    width: 250px;
    border-radius: 4px;
    box-sizing:border-box;  
    background-size:130% 100%;
    background-position:center;
}
.box4{ 
    display: flex;
    box-sizing:border-box;  
    background: url(https://images.unsplash.com/photo-1595848056181-958dc22ce75e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size:130% 100%;
    background-position:center;
    height: 250px;
    width: 250px;
    border-radius: 4px;
    box-sizing:border-box;  
    background-size:130% 100%;
    background-position:center;
}
.box5{ 
    display: flex;
    box-sizing:border-box;  
    background: url(https://images.unsplash.com/photo-1542358370-b9a73f4a4345?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2336&q=80);
    background-size:130% 100%;
    background-position:center;
    height: 250px;
    width: 250px;
    border-radius: 4px;
    box-sizing:border-box;  
    background-size:130% 100%;
    background-position:center;
}
.box6{ 
    display: flex;
    box-sizing:border-box;  
    background: url(https://images.unsplash.com/photo-1497906539264-eb74442e37a9?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8ZmlyZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
    background-size:130% 100%;
    background-position:center;
    height: 250px;
    width: 250px;
    border-radius: 4px;
    box-sizing:border-box;  
    background-size:130% 100%;
    background-position:center;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    background-color: #bbbbbb;
    align-items: center;
}


.socialLinks {
    display: flex;
    background-color: transparent;
    width: 50px;
    height: 50px;
}
.socialLinks a{
    width: 100%;
    height: 100%;
    /* display: inline-block; */
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    justify-content: flex-end;
}
.socialLinks img {
    background-color: transparent;
}

.contactBody{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    height: 100vh;
}
.contactMe{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 50%;
    border: 2px solid teal;
    border-radius: 10px;
}
h2{
    text-transform: capitalize;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    color: darkgray;
    font-size: 2rem;
    padding: 6px;
    /* margin-top: 30px; */
}
.contactP{
    text-align: center;
}